@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* header section  */

header {
  padding: 100px 240px;
}

.section-title {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #3a3a3a;
}

/* banner section */

.banner {
  display: flex;
  margin-top: 90px;
  gap: 120px;
}

.banner-title {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner-text {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.btn-primary {
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-img {
  position: relative;
}

.banner-img1 {
  position: absolute;
  top: 30px;
  left: 10px;
}

/* main section */
/* company section */

.company-logo {
  display: flex;
  padding: 50px;
  margin: 0 240px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  border-image-slice: 1;
}
.company-logo-img {
  margin-left: 100px;
}
.logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

/* main section */

/* company section */

/* card section */

.card {
  padding: 100px 196px;
}

.card h1 {
  text-align: center;
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 250% */
  margin-bottom: 20px;
}

.card-container-row {
  padding: 10px 196px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}

.card-container {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 20%;
  width: 300px;
}

.card-container h1 {
  color: var(--Text-Gray-900, #18191f);
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.card-container h2 {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.card-container h4 {
  color: var(--gray-80, #5e6366);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
}

.card-container p {
  width: 196px;
  color: var(--Gray-50, #787885);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
}
/* responsive website */

/* mobile */

@media screen and (max-width: 576px) {
  nav,
  nav > ul {
    flex-direction: column;
  }
  header {
    padding: 0px;
  }

  .nav-title {
    margin-top: 20px;
  }
  .nav-icon {
    display: none;
  }
  .nav-icon2 {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 25px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img1 {
    width: 302px;
    height: 290px;
    top: 280px;
    left: 40px;
  }
  .banner-title {
    width: 370px;
    height: 78px;
    color: #3a3a3a;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .banner-text {
    margin-left: 24px;
    width: 321px;
    height: 65px;
    color: #3a3a3a;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .banner-content button {
    align-items: flex-start;
    margin-left: 90px;
  }
  .banner-img2 {
    margin-left: 50px;
    width: 257px;
    height: 257px;
  }
  .banner-img1 {
    top: 0;
    margin-top: 50px;
    margin-left: 25px;
    width: 202px;
    height: 190px;
  }
}
